<h1>
  {{ store.translatedTitle() }}

  @for (color of store.captionColors(); track $index)
  {
    @if($index > 0) {
      @if ($last) {
        and
      } @else {
        ,
      }
    }

    {{ color.name }}
    <span class="color-item" [style.background]="color.key"></span>
  } ?
</h1>
<div class="answers">
  @for(answer of store.answerColors(); track $index) {
  <div class="answer" (click)="store.addAnswer($index)">
    <div class="thumbnail" [style.background]="answer.key"></div>
    <div class="caption">{{ answer.name }}</div>
  </div>
  }
</div>
